build/
build-*/
cmake-build-*/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
Makefile

*.pro.user
*.pro.user.*
*.qbs.user
*.qtc_clangd
*.autosave

*.o
*.obj
*.lo
*.la
*.a
*.lib
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app

.DS_Store
Thumbs.db

.idea/
.vscode/
.qtcreator/
